nav a {
  text-decoration: underline;
  padding: 2px;
}

nav a:visited {
  color: purple;
}

header {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 60px;
  width: 400px;
  display: flex;
  justify-content: center;
}

.header-text {
  color: white;
  margin: 0;
  font-size: 18px;
  line-height: normal;
  padding: 10px;
  vertical-align: top;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}